<div class="container">
  <div class="form-texts" style="font-size: 30px;">
    <%= simple_format(post.text) %>
  </div>
  <% if user_signed_in? && current_user.id == post.user_id %>
    <div class="more" style="display:inline-block;">

      <%= image_tag("yamazaki.png", :size => "10*10") %>
      <ul class="more_list">
        <li>
          <%= link_to '編集', "/posts/#{post.id}/edit", method: :get %>
        </li>
        <li>
          <%= link_to '削除', "/posts/#{post.id}", method: :delete %>
        </li>
      </ul>
    </div>
  <% end -%>
  <span>
    <a href="/users/<%= post.user_id %>">
      <span>投稿者 : </span><%= post.user.nickname %>
    </a>
  </span>
  <p style="border-bottom: solid 1px brown"></p>
</div>
